/* src/components/ContactForm.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f553d;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 500px; /* Adjust form width */
  padding: 20px;
  background-color: rgb(183, 105, 172);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid xscsc#952020;
  border-radius: 4px;
}

.contact-form button {
  background-color: #4CAF50;
  color: rgb(220, 204, 204);
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #4CAF50;
  outline: none;
}
